<div id="<%= dom_id book %>">
  <p>
    <strong>Titulo:</strong>
    <%= book.titulo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= book.ano %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= book.descricao %>
  </p>

  <p>
    <strong>Dataemprestimo:</strong>
    <%= book.dataEmprestimo %>
  </p>

</div>
